<% data.forEach((obj)=>{%>
<div class="card">
    <div class="card-content">
        <div class="float-left col-3">
            <img
                height="150"
                class="ml-4"
                src="<%= obj.image %>"
                alt="Card image cap"
            />
        </div>

        <div class="card-body">
            <h4 class="card-title"><%= obj.name%></h4>
            <p class="card-text ellipsis">
                <code><%= obj.description %></code>
            </p>
            <small class="text-muted">
                <span class="badge border-info border text-info shadow">
                    <%=obj.category?.name %>
                </span>
                <span class="badge border-danger border text-danger shadow">
                    <%=obj.brand?.name %>
                </span>
            </small>
            <button
                onclick='addProductToPost(
                    btoa("<%= obj.id%>"), 
                    btoa("<%= obj.name%>"),
                    btoa("<%= obj.image %>"),
                    btoa("<%= obj.description %>"), 
                    btoa("<%=obj.category?.name%>"), 
                    btoa("<%=obj.brand?.name %>"))'
                class="btn btn-sm round btn-outline-light float-right"
            >
                <i data-feather="plus" class="mb-1"></i>
                Add
            </button>
        </div>
    </div>
</div>
<% })%>
