<%- contentFor('body') %>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item default">
            <a href="/partners/inventory/combo" class="default-text">Combo</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">View</li>
    </ol>
</nav>
<style>
    code {
        color: var(--secondary-text-color) !important;
    }
    h6 {
        color: var(--sidebar-color) !important;
    }
</style>

<div class="col-12 mt-3 container view-product">
    <div class="card">
        <div class="card-header">
            Combo View
            <a
                href="/partners/inventory/combo/<%=id%>/delete/"
                class="btn btn-sm round btn-outline-danger float-right mx-5"
            >
                <i class="fa fa-trash" aria-hidden="true"></i>
                Delete
            </a>
            <a
                href="/partners/inventory/combo/<%=id%>/edit"
                class="btn btn-sm round btn-outline-secondary float-right"
            >
                <i class="fa fa-edit" aria-hidden="true"></i>
                Edit
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <div class="container row">
                    <div class="col-md-8">
                        <div class="mb-3">
                            <h6>Name</h6>
                            <code><%= obj.name %></code>
                        </div>
                        <div class="mb-3">
                            <h6>Image</h6>
                            <a href="<%= obj.image %>" target="_blank"
                                ><code><%= obj.image %> </code></a
                            >
                        </div>

                        <div class="mb-3">
                            <h6>Description</h6>
                            <code><%= obj.description %></code>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <h6>Category</h6>
                                <code><%= obj.category?.name %></code>
                            </div>
                            <div class="mb-3 col-md-6">
                                <h6>Brand</h6>
                                <code><%= obj.brand?.name %></code>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img height="255" src="<%= obj.image %>" />
                    </div>
                </div>
                <div class="container row mt-3">
                    <h6>Types of volume</h6>
                    <% obj.varients?.forEach(x=>{ %>
                    <div class="card col-md-4 default-product-bg shadow-none">
                        <div class="card-content">
                            <div class="card-body row">
                                <div class="col-md-6">
                                    <h4 class="card-title"><%= x.volume%></h4>
                                    <code class="card-text ellipsis">
                                        MRP: <%=x.mrp %>
                                    </code>
                                </div>
                                <div class="col-md-6">
                                    <i class="mdi mdi-currency-usd mt-2"></i>
                                    <code>Price:<%=x?.obj?.price%></code>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%}) %>
                </div>
            </div>
        </div>
    </div>
</div>
